p,ul,td,dt {font-family: Arial, helvetica; font-size: 10pt;}
h1 {font-family: Arial, helvetica; font-size: 14pt; font-weight: bold}
h2 {font-family: Arial, helvetica; font-size: 12pt; font-weight: bold}
h3 {font-family: Arial, helvetica; font-size: 10pt; font-weight: bold}
h4 {font-family: Arial, helvetica; font-size:  8pt; font-weight: normal; font-style: italic}
th {font-family: Arial, helvetica; font-size: 10pt; font-weight: bold}

A.el { text-decoration: none; font-weight: bold }
DL.el { font-family: Arial, helvetica; font-size: 10pt; margin-left: -1cm }
DIV.fragment { font-family: Courier, courier; width: 100%; border: none; background-color: #eeeeee }
DIV.in { font-family: Arial, helvetica; font-size: 10pt; margin-left: 16 }
DIV.ah { background-color: black; margin-bottom: 3; margin-top: 3 }
A.gl:link { color: #ffffff }
A.gl:visited { color: #ffffff }
A.gl { text-decoration: none; font-weight: bold; background-color: #ff8080 }
TD.md { background-color: #FFBF7F }




