sudo: required
dist: trusty
language:
  - cpp
compiler:
  - gcc
before_install:
  # Update package indexes and install dependencies
  - sudo apt-get update -qq
  - sudo apt-get install -qq -y libxml-xpath-perl libboost-all-dev omniorb omniidl omniorb-nameserver libomniorb4-dev pkg-config

install:
  - export EXTRA_CMAKE_ARGS="-DENABLE_TESTS=ON -DENABLE_CORBA=ON -DCORBA_IMPLEMENTATION=OMNIORB"
  - mkdir -p build && cd build
  - cmake .. -DCMAKE_INSTALL_PREFIX=$(pwd)/install $EXTRA_CMAKE_ARGS
  - make -j2 install

script:
  # Run tests
  - export BOOST_TEST_LOG_LEVEL=message
  - make -j1 check
