Source: orocos-rtt
Priority: optional
Maintainer: Peter Soetens <peter.soetens@fmtc.be>
Build-Depends: debhelper (>= 5), cmake,libboost-dev,libboost-graph-dev,xsltproc, doxygen, libtao-dev,libtao-orbsvcs-dev,tao-idl, xenomai-dev | libxenomai-dev, xenomai |libxenomai1, dia, inkscape, rtai-modules, libcppunit-dev
Standards-Version: 3.7.2
Section: libs

Package: orocos-rtt-dbg
Section: libdevel
Priority: extra
Architecture: any
Depends: liborocos-rtt-common-dev (= ${binary:Version})
Description: Orocos Real-Time Toolkit (debug symbols)
 .
 This package contains the debugging symbols.

Package: liborocos-rtt-common-dev
Section: libs
Architecture: any
Depends: libboost-dev, libboost-graph-dev
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit common development files
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-corba-common-dev
Section: libs
Architecture: any
Depends: liborocos-rtt-common-dev, libtao-dev, libtao-orbsvcs-dev 
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit common CORBA development files
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-corba-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-rtt-corba-gnulinux1.4 (= ${Source-Version}), liborocos-rtt-corba-common-dev
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit for CORBA development files (gnulinux)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the headers for developing Orocos applications.

Package: liborocos-rtt-corba-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-gnulinux1.4
Conflicts: liborocos-rtt1
Description: Orocos Real-Time Toolkit for CORBA library (gnulinux)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-gnulinux-dev
Section: libdevel
Architecture: any
Depends: liborocos-rtt-gnulinux1.4 (= ${Source-Version}), liborocos-rtt-common-dev 
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit for CORBA development files (gnulinux)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the headers for developing Orocos applications.

Package: liborocos-rtt-gnulinux1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: liborocos-rtt1
Description: Orocos Real-Time Toolkit for CORBA library (gnulinux)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-corba-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-rtt-corba-lxrt1.4 (= ${Source-Version}), liborocos-rtt-corba-common-dev
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit for CORBA development files (lxrt)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the headers for developing Orocos applications.

Package: liborocos-rtt-corba-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-lxrt1.4
Conflicts: liborocos-rtt1
Description: Orocos Real-Time Toolkit for CORBA library (lxrt)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-lxrt-dev
Section: libdevel
Architecture: any
Depends: liborocos-rtt-lxrt1.4 (= ${Source-Version}), liborocos-rtt-common-dev 
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit for CORBA development files (lxrt)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the headers for developing Orocos applications.

Package: liborocos-rtt-lxrt1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: liborocos-rtt1
Description: Orocos Real-Time Toolkit for CORBA library (lxrt)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-corba-xenomai-dev
Section: libdevel
Architecture: any
Depends: liborocos-rtt-corba-xenomai1.4 (= ${Source-Version}), liborocos-rtt-corba-common-dev
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit for CORBA development files (xenomai)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the headers for developing Orocos applications.

Package: liborocos-rtt-corba-xenomai1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}, liborocos-rtt-xenomai1.4
Conflicts: liborocos-rtt1
Description: Orocos Real-Time Toolkit for CORBA library (xenomai)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

Package: liborocos-rtt-xenomai-dev
Section: libdevel
Architecture: any
Depends: liborocos-rtt-xenomai1.4 (= ${Source-Version}), liborocos-rtt-common-dev , xenomai-dev | libxenomai-dev
Conflicts: liborocos-rtt-dev
Description: Orocos Real-Time Toolkit for CORBA development files (xenomai)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the headers for developing Orocos applications.

Package: liborocos-rtt-xenomai1.4
Section: libs
Architecture: any
Depends: ${shlibs:Depends}
Conflicts: liborocos-rtt1
Description: Orocos Real-Time Toolkit for CORBA library (xenomai)
 Orocos (http://www.orocos.org) is the acronym of the
 Open Robot Control Software project. The project's aim is to develop
 a general-purpose, free software, and modular framework
 for robotand machine control.
 The Orocos project supports 4 C++ libraries: the Real-Time Toolkit, the
 Kinematics and Dynamics Library, the Bayesian Filtering Library and
 the Orocos Component Library.
 .
 The Orocos Real-Time Toolkit (RTT) is not an application
 in itself, but it provides the infrastructure and the
 functionalities to build robotics applications in C++. The
 emphasis is on real-time, online interactive and
 component based applications.
 .
 This package provides the RTT library.

